#body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    font-family: Arial, sans-serif;
    max-width: 500px;
    background-color: hwb(0 15% 85%);
    border: none;
    border-radius: 5%;
    overflow: hidden;
}
#display{
    width: 100%;
    background-color: hwb(0 15% 85%);
    border: none;
    padding: 20px;
    text-align: left;
    font-size: 50px;
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px
}
button{
    width: 100px;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color:  hsl(0, 0%, 40%);
}
button:active{
    background-color:  hsl(0, 0%, 50%);
}
.operator-btn{
    background-color:  hsl(35, 90%, 55%);
}
.operator-btn:hover{
    background-color:  hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color:  hsl(35, 100%, 75%);
}
.operator-btn2{
    background-color:  hsl(101, 81%, 34%);
}
.operator-btn2:hover{
    background-color:  hsl(101, 90%, 55%);
}
.operator-btn2:active{
    background-color:  hsl(101, 90%, 65%);
}